
<div class="col-xs-12" style="overflow:hidden;">
    <!-- <div style="clear:both;"> -->
    
        {% if articles.0.image != None %}
            <div style="float:left;">
                {% with "/media/images/"|add:articles.0.image as img %}
                    <img class="hidden-xs soiola" src="{{ img }}" alt="{{articles.0.image}}" style="width:120px;">
                    <!-- <img  src="{{ img }}" alt="{{article.image}}" style="width:100px;border:0;padding:0;"> -->
                {% endwith %}
            </div>
        {% endif %}

        <div>
            <h5 style="margin:1px; padding:2px">
                <a style="color: black; font-weight:bold; font-size:2em;" href="{% url 'rstblog:show' articles.0.slug %}">{{ articles.0.title }}</a>
            </h5>
            <p class=" hidden-xs pattributes" style="margin:1px; padding:2px">
                {% if articles.0.hit %}
                    <i>Read</i> {{ articles.0.hit }} times
                    {% if articles.0.created %} ;&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if articles.0.created %} 
                    <i>Created</i> on {{ articles.0.created|date:"d M Y" }}
                    {% if articles.0.modified %} ;&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if articles.0.modified %}
                    <i>Modified</i> on {{ articles.0.modified|date:"d M Y" }}
                {% endif %}
                {% for key, value in translations.items %}
                    {% if key == articles.0.title %}
                        ;&nbsp;&nbsp;&nbsp;
                        <!-- <span style="border: 1px solid red; border-radius: 2px;"> <b>Translation{{ value|length|pluralize }}</b>: &nbsp; -->
                        <span><b>Translation{{ value|length|pluralize }}</b>:&nbsp; 
                        {% for language, slug in value %}
                            <a href="{% url 'rstblog:show' slug %}">{{ language }}</a>
                            {% if not forloop.last%}&comma;&nbsp;{% endif %}
                        {% endfor %}
                        </span>
                    {% endif %}
                {% comment %}
                {% endcomment %}
                {% endfor %}
            </p>
            {% if articles.0.summary %}
                <p class="psummary" style="padding:2px;">{{ articles.0.summary }}</p>
            {% endif %}
        </div>
    <!-- </div> -->
</div>

