
<div class="col-sm-6" style="margin:10px 0px;overflow:hidden;background-color:White;box-shadow:1px 1px LightGrey;border-radius:4px;">
    <!-- <div style="clear:both;"> -->
        <h5 style="margin:1px; padding:2px">
            <a style="color: black; font-weight:bold; font-size:1.5em;" href="{% url 'rstblog:show' article.slug %}">{{ article.title }}</a>
        </h5>
        
    <!-- </div> -->
    <div>
    {% if article.image != None %}
        <div style="float:left;">
            {% with "/media/images/"|add:article.image as img %}
                <img class="hidden-xs soiola" src="{{ img }}" alt="{{article.image}}" style="width:120px;">
            {% endwith %}
        </div>
    {% endif %}
        <div>
                {% if article.summary %}
                    <p class="psummary" style="padding:2px;">{{ article.summary }}</p>
                {% endif %}
        </div>
    </div>
</div>

