{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block meta %}
    <meta name="author" content="luciano de falco alfano">
    <link rel="alternate" hreflang="x-default" href="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>&nbsp;</p>
        <h4> Select article to load:</h4>
        <input type="file" name="article"> </p>
        <p> <button type="submit">Upload</button> </p>
    </form>
</div>
{% endblock %}